 label {
     margin-bottom: 8px;
 }


 .main-image {
     width: 100%;
     max-height: 95px !important;
 }

 .scroll {
    overflow: scroll;
    height: 400px;
}

 th {
     background-color: rgb(75, 72, 72);
     color: white;
 }

 .total { 
     width: 100%;
     font-weight: 800;
     color: green;
     text-align: right;

 
 }

 th,
 td {
     text-align: center;
     vertical-align: middle;
 }