<h1>Ads</h1>

<div class="box">
    <button class="btn btn-success" (click)="openAddAds()">Add Ads</button>
</div>
<div class="table table-responsive" style="border: 1.5px solid rgba(149, 138, 138, 0.401); border-radius: 10px"
    *ngIf="ads?.length != 0 &&!isLoaingads">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th class="table-head">Image</th>
                <th class="title">Title</th>

                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ad of ads">
                <td>{{ ad.ads_id }}</td>
                <td><img src="{{ ad.ads_image }}" alt="" class="cat-img" /></td>
                <td>{{ ad.title }}</td>
                <td>
                    <button class="btn btn-danger" (click)="openDeleteAds(ad.ads_id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card" *ngIf="ads?.length == 0 && !isLoaingads">
    <i class="not-found">No Ads Found</i>
</div>
<div class="loading" *ngIf="isLoaingads">
    <app-loading></app-loading>
</div>