.title {
    font-size: 22px;
    font-weight: 600;
    margin: 0px 30px;
    background: -webkit-linear-gradient(red, rgb(143, 4, 212));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}